<!-- Don't forget Travis, you'r'e awesome look at this shit that you did -->
{% load staticfiles %}

<!-- Generate that content! -->

<!-- Variables for generating things for Django -->
{% with standard_content_width="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" wide_content_width="col-sm-10 col-sm-offset-1 col-xs-12" %}    

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Travis Bumgarner Engineering</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
</head>
<body>

<div class="container">
	<!-- fixed-nav -->
	<div class = "fixed-nav">
		<div class="row">
			<div class="{{standard_content_width}} content-wrapper section-content">
				<ul>
					<a data-scroll href="#home-page"><li>Home</li></a>
					<a data-scroll href="#filter-page"><li>Portfolio</li></a>
					<a data-scroll href="#about-page"><li>About</li></a>
					<a data-scroll href="#skills-page"><li>Skills</li></a>
				</ul>			
			</div>
		</div>
	</div><!-- fixed nav -->


	<!-- Home page -->
	<div id="home-page" class="all-pages">
	<div class="row ">
		<div class="{{standard_content_width}} content-wrapper">
			<h2 class="section-header">If it’s interesting, I’m <i>interested</i> in it.</br>What are you intersted in?</h2>
			<div class="section-content">
				<ul>
					<a data-scroll href="#filter-page"><li>Engineering & Design Projects</li></a>
					<a data-scroll href="#about-page"><li>Travis Bumgarner Himself</li></a>
					<a data-scroll href="#skills-page"><li>Skills & Abilities</li></a>
					<a href="mailto:travis.bumgarner2@gmail.com?subject=I saw your engineering portfolio"><li>Getting in Touch</li></a>
					<a data-scroll href="http://painlessprototyping.com" target="_blank"><li>Painless Prototyping Startup</li></a>
				</ul>		
			</div>

		</div>
	</div><!-- row -->
	</div><!-- home page -->

	<!-- filter page -->
	<div id="filter-page" class= "all-pages">
	<div class = "row">
		<div class="{{standard_content_width}} content-wrapper">
			<div class="controls">
				<h2 class="section-header">Projects Filter</h2>
				<div class="section-content" id = "projects-filter">
					<ul>
						<li data-filter = "all" class = "filter">View All</li>
						<li data-filter = ".mechanical-project" class = "filter">Mechanical Engineering</li>
						<li data-filter = ".electrical-project" class = "filter">Electrical Engineering</li>
						<li data-filter = ".computer-project" class = "filter">Computer Programming</li>
						<li data-filter = ".web-project" class = "filter">Web Design</li>
						<li data-filter = ".civil-project" class = "filter">Civil Engineering</li>
						<li data-filter = ".misc-project" class = "filter">Misc Projects</li>
					</ul>	
				</div>	
			</div><!-- controls -->
		</div><!-- col -->
	</div><!-- row -->
	<div class="row list-of-projects">
		<div id="Container">
			{% for project in projects %}
				<div class="col-md-3 col-xs-6 mix section-content {% for category in project.categories.all %}{{category.html_class_display_category}} {% endfor %}">
					<a data-scroll href= "#project-page" data-project-id = "project-{{project.id}}">
						<img src="{{project.headline_image.url}}" alt="" class="img-responsive">
						<p>{{ project.title }}</p>
					</a>
				</div><!-- col-md-3 col-sm-4 col-xs-6 -->
			{% endfor %}
			<div class="gap"></div>
			<div class="gap"></div>
		</div><!-- all-projects-container -->
	</div><!-- row projects-all -->
	</div><!-- filter page -->

	<!-- project page -->
	<div id="project-page"  class= "all-pages">
	<div class="row">
		<div class="{{standard_content_width}} toggle_visible_projects">
	    {% for project in projects %}
	        <div class = "project hidden" data-project-id = "project-{{project.id}}" >
	            <h2 class = "section-header">{{project.title}}</h2>
	    		<div class="section-content">
	    			<p>{{ project.summary }}</p>
	    		</div>
	    		<div class="section-content">
	    			<ul><!-- Make soure to set to two or three columns -->
	    				<li>Tools</li>
	    				{% for tool in project.tools.all %}
	    				<li>{{ tool }}</li>
	    				{% endfor %}
	    			</ul>
	    		</div>
	        </div>
		{% endfor %}
		</div><!-- end columns -->
	</div><!-- end rows -->
	<div class="row project-wrapper">
	    {% for project in projects %}
	    <div class = "project hidden" data-project-id = "project-{{project.id}}" >
	    	<div class="col-sm-4 col-xs-6">
	    		<div class="section-content">
	    			<img src="{{project.headline_image.url}}" alt="" class="img-responsive">
	    		</div><!-- section content -->
	    	</div><!-- cols -->
		</div>
		{% endfor %}
	</div><!-- row -->
	</div><!-- project page -->

	<!-- about page -->
	<div id="about-page"  class= "all-pages">
	<div class="row">
		<div class="{{wide_content_width}}">
			<h2 class="section-header">{{ about.title }} </h2>
			<img src="{{about.photo.url}}" alt="" class="img-responsive right" id="about-photo">
			<div class="section-content">
				<ul><!-- setup for 2 or 3 columns -->
					<a target = "_blank" href ="{{about.resume_url}}"><li>Resume</li></a>
					<a target = "_blank" href ="{{about.linkedin_url}}"><li>Linkedin</li></a>
					<a target = "_blank" href ="{{about.photography_portfolio_url}}"><li>Photography portfolio</li></a>
					<a target = "_blank" href ="{{about.startup_url}}"><li>My Company</li></a>
					<a target = "_blank" href ="{{about.instagram_url}}"><li>Instagram</li></a>
				</ul>			
			</div>
			<div class="section-content">
				{{about.summary|linebreaks}}
			</div><!-- section-content -->
		</div><!-- col-xs-8 -->
	</div><!-- row -->
	</div><!-- about page -->

	<!-- skills page -->
	<div id="skills-page"  class= "all-pages">
	<div class="row">
		<div class="skills-wrapper col-xs-12">
			<div class="grid">
			{% for skill_category in skills_category %}
				<div class="grid-sizer"></div>
				<div class="skills grid-item grid-item-height-{{ skill_category|length }}">
					<h2 class="section-header">{{ skill_category.title }}</h2>
					<div class="section-content">
						<ul>
							{% for skill in skills %}
								{% if skill_category == skill.category %}
									<li><div>{{ skill.title }}</div><div><img src="{% static "img" %}/{{skill.rating}}.png"></div></li>
								{% endif %}
							{% endfor %}
						</ul>			
					</div>
				</div>
			{% endfor %}
			</div><!-- grid -->
		</div>
	</div>
	</div><!-- skills page -->
</div><!-- container -->






<script src = "{% static 'js/jquery.js' %}"></script>

<script src="{% static 'js/smooth-scroll.min.js' %}"></script>
<script>
	smoothScroll.init({
	    speed: 1000, // Integer. How fast to complete the scroll in milliseconds
	    selector: '[data-scroll]', 
	});
</script>

<script src = "{% static 'js/jquery.mixitup.js' %}"></script>
<script>
	// Project Filter Functionality
	$(function(){$('.list-of-projects').mixItUp();});
</script>

<script src = "{% static 'js/masonry.js' %}"></script>
<script>
	//Masonry for how skills are displayed
	$('.grid').masonry({
	  itemSelector: '.grid-item',
	  columnWidth: '.grid-sizer',
	  percentPosition: true
	});
</script>

<script>
	//Function for displaying nav menu after home page
	(function($) {          
	    $(document).ready(function(){                    
	        $(window).scroll(function(){
	        	var home = $('#filter-page') .offset().top -30;                        
	            if ($(this).scrollTop() > home) {
	                $('.fixed-nav').fadeIn(250);
	            } else {
	                $('.fixed-nav').fadeOut(250);
	            }
	        });
	    });
	})(jQuery);
</script>

<script>
	//Function for loading projects
	$(".list-of-projects").find("a").on("click",function(e){
	    $project_id = $(this).data("project-id");;
	    $('[data-project-id="' + $project_id + '"]')
	        .removeClass("hidden")
	        .siblings().addClass("hidden");
    });
</script>
</body>
</html>
{% endwith %}