{{ partial "header.html" . }}
{{ partial "navigation.html" . }}
<div class="content-wrapper">
	<!-- {{ partial "sidebar.html" . }} -->
	<div class="main-wrapper">
		<main class="list">
			{{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
			{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
			{{ end }}
			{{ if gt (len $paginator.Pages) 10 }}
			{{ partial "pagination.html" . }}
			{{ end }}
		</main>
		<div class="paginator">
			{{ template "_internal/pagination.html" . }}
		</div>
	</div>
</div>
{{ partial "footer.html" . }}