<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="page-wrapper black-on-white" id = "introduction">
    <article >
        <h1>Hello,</h1>
        <div class="content-wrapper">
            <p>If you're looking for someone who can combine	<span class ="intro-subject">test</span>, <span class ="intro-subject">test</span>, and <span class ="intro-subject">test</span> on a project -	you've come to the right place.</p>
        </div>
    </article>
</div>
<div id="introduction-bg"></div>

<div class="page-wrapper" id ="findme">
    <article>
        <h1>Where you can find me</h1>
        <div class="content-wrapper">
            <section>
                <h2>Photography</h2>
                <ul>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </section>
            <section>
                <h2>Engineering</h2>
                <ul>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Startup</a></li>
                    <li><a href="#">Instragram</a></li>
                </ul>
            </section>
            <section>
                <h2>Community</h2>
                <ul>
                    <li><a href="#">Cambridge Hackspace</a></li>
                    <li><a href="#">MIT Sandbox</a></li>
                    <li><a href="#">MIT D-Lab</a></li>
                </ul>
            </section>
        </div>
    </article>
</div>
<div id="findme-bg"></div>

<div class="page-wrapper black-on-white" id="about">
    <article >

        <h1>About</h1>
            <div class="content-wrapper">
                <p>At some point or another, I have been, still am, or will be interested in just about everything related to engineering and topics beyond as well. As an undergrad, I studied mechanical engineering and both of my internships focused on <span class="bold-text">mechanical design engineering</span>. </p>
                <p>After graduating, I joined the Peace Corps where I served as a <span class="bold-text">civil engineer</span> for two years. Due to a lack of steady internet access and electricity during my service, I dedicated my free time to exploring many hobbies and eventually discovering my passion for <span class="bold-text">photography</span>. After moving from my rural community to a regional capital for my last six months, I dedicated a large portion of my time to learning web development and to a lesser extent <span class="bold-text">web design</span>. </p>
                <p>Since returning from the Peace Corps, I have continued my pursuit of knowledge related to <span class="bold-text">web development</span>, learning about everything from CSS on the <span class="bold-text">front-end</span> to Flask on the <span class="bold-text">back-end</span>. Furthermore, with regained internet access I was able to finally explore the <span class="bold-text">Arduino</span> and <span class="bold-text">Raspberry Pi</span> in depth. So much so, that I now teach an Introduction to Arduino class at the Cambridge Hackspace and have founded an <span class="bold-text">electrical engineering</span> startup focused on tools for these two devices. The hackspace has also offered me a great place to explore <span class="bold-text">woodworking</span>, <span class="bold-text">laser cutting</span>, and <span class="bold-text">3D printing</span>. </p>
            </div>
    </article>
</div>
<div id="about-bg"></div>

<div class="page-wrapper" id="contact">
    <article >
        <h1>Let's Chat</h1>
        <div class="content-wrapper">
            <form action="" method="post" name="contact">
                {{ contact_form.hidden_tag() }}
                <p>Fields marked with <span class = "required-entry">*</span> are required.</p>
                <p>First Name <span class = "required-entry">*</span>{{ contact_form.first_name() }}</p>
                <p>Last Name <span class = "required-entry">*</span>{{ contact_form.last_name() }}</p>
                <p>Email Address <span class = "required-entry">*</span>{{ contact_form.email_address() }}</p>
                <p>Website:{{ contact_form.website() }}</p>
                <p>Topics of Interest (Ctrl + Click to select multiple topics) <span class = "required-entry">*</span>{{ contact_form.topics() }}</p>
                <p>Request <span class = "required-entry">*</span>{{ contact_form.request() }}</p>
                <p>{{ contact_form.submit() }}</p>
          </form>
        </div>
    </article>
</div>

<div class="page-wrapper black-on-white" id = "elfin">
<article >
    <h1>El Fin</h1>
    <div class="content-wrapper">
    <p>Designed and developed by Travis Bumgarner</p>
    </div>
</article>
</div>


<script>
// mySkills should eventually come from DB
mySkills = ["Adobe Lightroom",
			"Adobe Photoshop",
			"Arduino",
			"Bootstrap",
			"Breadboarding",
			"AutoCAD",
			"C++",
			"CSS",
			"Django",
			"GitHub",
			"Flask",
			"Kickstarter",
			"HTML",
			"JavaScript",
			"jQuery",
			"Less",
			"Microsoft Power BI",
			"PHP",
			"Python",
			"Raspberry Pi",
			"Rasbian",
			"Soldering",
			"SolidWorks",
			"Spanish",
			"SQL",
			"Ubuntu",
			"Woodworking",
			"WordPress"
			]
function generateThreeSkills(listOfSkills, firstTime=false){
	var randomSkills = [];
	while (randomSkills.length < 3){
		var index = Math.floor(Math.random()*listOfSkills.length);
		var randomSkill = listOfSkills[index]
		if (randomSkills.includes(randomSkill) == false){
			randomSkills.push(randomSkill);
		}
	}
	$("#intro-message").children(".intro-subject").each(function(index){
		if(firstTime == true){
			$(this).text(randomSkills[index]);
		}
		else{
			$(this).fadeOut("slow",function(){
				$(this).text(randomSkills[index]).fadeIn("fast");
			});
		}

	})
}
//$("document").ready(generateThreeSkills(mySkills, true));


function generateOneSkill(listOfSkills, firstTime=false){
	var currentSkillIndex = 1 + Math.floor(Math.random()*3); //because nth-of-type starts at 1
	console.log(currentSkillIndex)
	var allSkillIndex = Math.floor(Math.random()*listOfSkills.length);
	var selector = "#intro-message span:nth-of-type(" + currentSkillIndex.toString() +")";
	console.log(selector)
	$(selector).fadeOut("slow",function(){
		$(selector).text(listOfSkills[allSkillIndex]).fadeIn("fast");
	});
}
$("document").ready(generateOneSkill(mySkills, true));


window.setInterval(function(){
  generateOneSkill(mySkills)
}, 2000);

</script>
</body>
</html>


