@import 'https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display';
/************************************************************************/
/******************* CSS Reset  *****************************************/
/************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
/************************************************************************/
/******************* Imports ********************************************/
/************************************************************************/
/*
font-family: @content-font
font-family: @header-font;
*/
/************************************************************************/
/******************* Main LESS  ******************************************/
/************************************************************************/
.section-header {
  font-family: 'Playfair Display', serif;
  background-color: #bd0000;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  font-size: 22px;
}
.section-content {
  background-color: #ffffff;
}
.section-content ul {
  list-style: none;
  padding-left: 0px;
}
.section-content li,
.section-content p {
  color: #444444;
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 5px;
  font-family: 'Open Sans', sans-serif;
}
.section-content p {
  line-height: 24px;
}
.section-content li a,
.section-content p a {
  color: #444444;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 768px) {
  .section-header {
    font-size: 22px;
    padding: 5px 10px 5px 10px;
  }
  .section-content li,
  .section-content p {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
  }
}
#project-page .section-content li:hover,
#skills-page .section-content li:hover,
#project-page .section-content p:hover,
#skills-page .section-content p:hover,
#project-page .section-content li:hover a,
#skills-page .section-content li:hover a,
#project-page .section-content p:hover a,
#skills-page .section-content p:hover a {
  background-color: #ffffff;
  color: #444444;
}
/************************************************************************/
/******************* helper Classes *************************************/
/************************************************************************/
.clear-both {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
/************************************************************************/
/******************* LESS Commom Stuff **********************************/
/************************************************************************/
.two-col-li ul li {
  width: 49.75%;
  float: left;
}
.two-col-li ul li:nth-child(odd) {
  margin-right: 0.5%;
}
/************************************************************************/
/******************* All Pages ******************************************/
/************************************************************************/
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #999999 url("../img/background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}
.all-pages {
  padding-top: 10vh;
  padding-bottom: 0vh;
  min-height: 100vh;
}
/************************************************************************/
/******************* Homepage *******************************************/
/************************************************************************/
#home-page {
  min-height: 100vh;
  padding-top: 20vh;
}
#home-page .menu-item-title {
  font-size: 18px;
}
#home-page .menu-item-description {
  font-size: 11px;
}
#home-page li {
  border-bottom: 1px solid #cccccc;
}
#home-page li:hover span:first-child {
  color: #bd0000;
}
@media only screen and (max-width: 768px) {
  #home-page {
    padding-top: 10vh;
  }
  #home-page .row .section-header {
    font-size: 26px;
  }
}
/************************************************************************/
/******************* Filter Page ****************************************/
/************************************************************************/
#filter-page ul li {
  width: 49.5%;
  float: left;
  cursor: pointer;
  cursor: hand;
}
#filter-page ul li:first-child {
  width: 100%;
}
#filter-page ul li:nth-child(even) {
  margin-right: 1%;
}
#filter-page ul li.active {
  background-color: #bd0000;
  color: #ffffff;
}
#filter-page .list-of-projects {
  margin-top: 5vh;
}
#filter-page .list-of-projects .mix {
  display: none;
}
#filter-page .list-of-projects p {
  background: rgba(255, 255, 255, 0.8);
  height: 57px;
  position: relative;
  bottom: 57px;
}
/************************************************************************/
/******************* Projects *******************************************/
/************************************************************************/
#project-page {
  min-height: 80vh;
}
#project-page ul li {
  width: 49.75%;
  float: left;
}
#project-page ul li:nth-child(odd) {
  margin-right: 0.5%;
}
#project-page .project-wrapper {
  margin-top: 5vh;
}
/************************************************************************/
/******************* About Page *****************************************/
/************************************************************************/
#about-page #about-photo {
  width: 33%;
  background: #888;
  border-left: 5px solid #888;
  border-bottom: 5px solid #888;
  margin: 0px 0px 10px 15px;
}
#about-page p {
  margin-bottom: 0px;
}
/************************************************************************/
/******************* Skills *********************************************/
/************************************************************************/
#skills-page .page-title {
  width: 95%;
  margin: 0px auto;
  margin-bottom: 5px;
}
#skills-page .skills-wrapper {
  padding-left: 0.5%;
  padding-right: 5px;
}
#skills-page ul li {
  overflow: auto;
}
#skills-page ul li div {
  display: inline-block;
}
#skills-page ul li div:first-child {
  padding: 5px 0px 0px 0px;
}
#skills-page ul li div:last-child {
  float: right;
}
/******************* Grid Items******************************************/
* {
  box-sizing: border-box;
}
.grid {
  max-width: 1200px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 45%;
  margin: 0% 2.5%;
}
.grid-item {
  float: left;
  margin-bottom: 15px;
}
/************************************************************************/
/******************* Nav ************************************************/
/************************************************************************/
.fixed-nav {
  display: none;
  background-color: white;
}
.fixed-nav .content-wrapper {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  padding: 0px;
  height: 35px;
}
.fixed-nav ul {
  width: 60vw;
  margin: 0px auto;
  text-align: center;
  background-color: #ffffff;
}
.fixed-nav ul li {
  height: 35px;
  display: inline;
  padding: 10px 20px 10px 20px;
  float: left;
  margin: 0px;
}
.fixed-nav ul li:hover {
  border-bottom: solid 5px #bd0000;
}
