@import 'https://fonts.googleapis.com/css?family=Cutive+Mono|Playfair+Display';
/************************************************************************/
/******************* CSS Reset  *****************************************/
/************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
/************************************************************************/
/******************* Imports ********************************************/
/************************************************************************/
/*
font-family: 'Cutive Mono', monospace;
font-family: 'Playfair Display', serif;
*/
/************************************************************************/
/******************* Main LESS  ******************************************/
/************************************************************************/
.section-header {
  font-family: 'Playfair Display', serif;
  background-color: #f88379;
  color: #ffffff;
  padding: 5px 5px 5px 10px;
  margin-bottom: 2px;
}
@media only screen and (max-width: 768px) {
  .section-header {
    padding: 20px 10px 20px 10px;
    font-size: 22px;
  }
}
.section-content ul {
  list-style: none;
  padding-left: 0px;
}
.section-content li,
.section-content p {
  background-color: #ffffff;
  color: #444444;
  padding: 5px 5px 5px 10px;
  margin-bottom: 2px;
  font-family: 'Cutive Mono', monospace;
}
.section-content li a {
  color: #444444;
  font-family: 'Cutive Mono', monospace;
}
.section-content li:hover,
.section-content li:hover a {
  background-color: #f88379;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .section-content li,
  .section-content p {
    padding: 20px 10px 20px 10px;
    font-size: 18px;
  }
}
#project-page .section-content li:hover,
#skills-page .section-content li:hover,
#project-page .section-content p:hover,
#skills-page .section-content p:hover,
#project-page .section-content li:hover a,
#skills-page .section-content li:hover a,
#project-page .section-content p:hover a,
#skills-page .section-content p:hover a {
  background-color: #ffffff;
  color: #444444;
}
/************************************************************************/
/******************* helper Classes *************************************/
/************************************************************************/
.clear-both {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
/************************************************************************/
/******************* LESS Commom Stuff **********************************/
/************************************************************************/
.two-col-li ul li {
  width: 49.75%;
  float: left;
}
.two-col-li ul li:nth-child(odd) {
  margin-right: 0.5%;
}
/************************************************************************/
/******************* All Pages ******************************************/
/************************************************************************/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #999999 url("../img/background.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.all-pages {
  min-height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
/************************************************************************/
/******************* Homepage *******************************************/
/************************************************************************/
#home-page .row .section-header {
  font-size: 22px;
}
#home-page .row .section-content {
  font-size: 20px;
}
/************************************************************************/
/******************* Filter Page ****************************************/
/************************************************************************/
#filter-page ul li {
  width: 49.75%;
  float: left;
}
#filter-page ul li:first-child {
  width: 100%;
}
#filter-page ul li:nth-child(even) {
  margin-right: .5%;
}
#filter-page ul li.active {
  background-color: #f88379;
  color: #ffffff;
}
#filter-page .projects-all {
  margin-top: 5vh;
}
.all-projects-container .mix {
  display: none;
}
/************************************************************************/
/******************* Projects *******************************************/
/************************************************************************/
#project-page ul li {
  width: 49.75%;
  float: left;
}
#project-page ul li:nth-child(odd) {
  margin-right: 0.5%;
}
/************************************************************************/
/******************* About Page *****************************************/
/************************************************************************/
#about-page #about-photo {
  width: 33%;
  background: #888;
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;
}
/************************************************************************/
/******************* Skills *********************************************/
/************************************************************************/
#skills-page ul li {
  overflow: auto;
}
#skills-page ul li div {
  display: inline-block;
}
#skills-page ul li div:first-child {
  padding: 5px 0px 0px 0px;
}
#skills-page ul li div:last-child {
  float: right;
}
/************************************************************************/
/******************* Form ***********************************************/
/************************************************************************/
#contact-page form input,
#contact-page form textarea,
#contact-page form label {
  width: 100%;
  background-color: #ffffff;
  text-color: #444444;
  margin-top: 5px;
  border: none;
  padding: 5px 5px 5px 10px;
}
#contact-page form textarea,
#contact-page form input {
  margin-bottom: 10px;
}
/************************************************************************/
/******************* Nav ************************************************/
/************************************************************************/
.fixed-nav {
  display: none;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.fixed-nav ul {
  text-align: center;
  background-color: #ffffff;
  height: 32px;
  width: 50%;
  margin: 0px auto;
  border-top: 5px solid #ffffff;
}
.fixed-nav ul li:first-child {
  color: #ffffff;
  background: #f88379;
}
.fixed-nav ul li:first-child:hover {
  background: #f88379;
  color: #ffffff;
}
.fixed-nav li {
  height: 35px;
  display: inline;
  width: 25%;
  padding: 10px;
}
/************************************************************************/
/******************* Grid Items******************************************/
/************************************************************************/
* {
  box-sizing: border-box;
}
.grid {
  max-width: 1200px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 50%;
  padding: 1%;
}
.grid-item {
  float: left;
}
