/************************************************************************/
/******************* CSS Reset  *****************************************/
/************************************************************************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	&:hover, &:active, &:visited, &:focus{
		text-decoration: none;
	}
}
/************************************************************************/
/******************* Imports ********************************************/
/************************************************************************/
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display';
/*
font-family: @content-font
font-family: @header-font;
*/

/************************************************************************/
/******************* Main LESS  ******************************************/
/************************************************************************/
@dark-red:   #bd0000;
@light-red:  #bd0000;
@whiteish:   #ffffff;
@blackish:   #444;

@section-padding: 5px 5px 5px 10px;
@section-padding-small-screen: 20px 10px 20px 10px;

@header-font: 'Playfair Display', serif;
@content-font: 'Open Sans', sans-serif;




.section-header{
   	font-family: @header-font;
	background-color: @light-red;
	color: @whiteish;
	padding: @section-padding;
	margin-bottom: 5px;
	font-size:28px;
}

//Define general coloring for content
.section-content{
	ul{
		list-style:none;
		padding-left: 0px;
	}
	li, p{
		background-color: @whiteish;
		color: @blackish;
		padding: @section-padding;
    	margin-bottom: 5px;
		font-family: @content-font
    }
    p{
    	line-height: 24px;
    }
    li{
    	a{
    		color: @blackish;
    		font-family: @content-font
    	}
    	&:hover, &:hover a{
    		background-color: @light-red;
    		color: @whiteish;	
    	}
    }
    @media only screen and (max-width:768px){
    	li,p{
    		padding: @section-padding-small-screen; 
    		font-size: 18px;
    	}
    }
}

//Remove hover for content without links
#project-page,
#skills-page{
	.section-content{
		li, p{
	    	&:hover, &:hover a{
				background-color: @whiteish;
				color: @blackish;
			}		
		}

	}
}

/************************************************************************/
/******************* helper Classes *************************************/
/************************************************************************/
.clear-both{
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.hidden{
    display: none;
}


/************************************************************************/
/******************* LESS Commom Stuff **********************************/
/************************************************************************/
// Display li items in two columns
.two-col-li{
	ul{
		li{
			width: 49.75%;
			float: left;
		}
		li:nth-child(odd){
			margin-right: 0.5%;
		}
	}
}

/************************************************************************/
/******************* All Pages ******************************************/
/************************************************************************/
html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
	background: #999 url("../img/background.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}

.all-pages{
	padding-top: 10vh;
	padding-bottom: 0vh;
	min-height: 100vh;

}

/************************************************************************/
/******************* Homepage *******************************************/
/************************************************************************/
#home-page{
	min-height: 100vh;
	padding-top: 30vh;
	.row{
		.section-header{
			font-size: 30px;
		}
		.section-content{
			font-size: 20px;
		}
		.content-wrapper{
		}
	}
}
/************************************************************************/
/******************* Filter Page ****************************************/
/************************************************************************/
#filter-page{
	ul{

		li{
			width: 49.5%;
			float: left;
			cursor: pointer;
			cursor: hand;
		}
		li:first-child{
			width:100%;
		}
		li:nth-child(even){
			margin-right: 1%;
		}
		li.active{
			background-color: @light-red;
			color: @whiteish;

		}
	}
	.row{
		.content-wrapper{
		}
	}
	.list-of-projects{
		margin-top: 5vh;
		.mix{
			display: none;
		}
		p{
			background: rgba(255,255,255,0.8);
			height: 57px;
		    position: relative;
		    bottom: 57px;
		}
	} 

}


/************************************************************************/
/******************* Projects *******************************************/
/************************************************************************/
#project-page{
	.two-col-li;
	min-height: 80vh;
}
/************************************************************************/
/******************* About Page *****************************************/
/************************************************************************/

#about-page{
	#about-photo{
		width: 33%;
		background: #888;
		border-left: 5px solid #888;
		border-bottom: 5px solid #888;
    	margin: 0px 0px 10px 15px;
	}
	p{
		margin-bottom: 0px;
	}
}

/************************************************************************/
/******************* Skills *********************************************/
/************************************************************************/
#skills-page{
	.page-title{
		width:95%;
		margin: 0px auto;
		margin-bottom: 5px;
	}
	.skills-wrapper{
		padding-left: 0.5%;
		padding-right: 5px;
	}
	ul{
		li{
			overflow: auto;
			div{
				display:inline-block;
			}
			div:first-child{
				padding: 5px 0px 0px 0px;
			}
			div:last-child{
				float: right;
			}
		}

	}
}
/******************* Grid Items******************************************/
* { box-sizing: border-box; }
.grid{
	max-width:1200px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}



.grid-sizer,
.grid-item {
  width: 45%;
  margin: 0% 2.5%;
}
.grid-item{
	float:left;
	margin-bottom:15px;
}



/************************************************************************/
/******************* Form ***********************************************/
/************************************************************************/
#contact-page{
	form{
		input, textarea,label{
			width:100%;
			background-color: @whiteish;
			text-color: @blackish;
			margin-top: 5px;
			border: none;
			padding: @section-padding;
		}
		textarea, input{
			margin-bottom: 10px;
		}
	}
}


/************************************************************************/
/******************* Nav ************************************************/
/************************************************************************/
.fixed-nav{
	display: none;
	.content-wrapper{
		background-color:white; 
		position: fixed; 
		top: 0px; 
		left: 0px;
    	z-index: 999;
    	padding: 0px;
	}
	ul{
		text-align:center;
		background-color: @whiteish;
		height: 32px;
		li{
			&:hover{
				background: @light-red;
				color: @whiteish;
			}
			height: 35px;
			display: inline;
			padding: 10px;
			float: left;
			width: 16.666%;
			margin-bottom: 0px;
		}
	}
}




