/************************************************************************/
/******************* CSS Reset  *****************************************/
/************************************************************************/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	&:hover, &:active, &:visited, &:focus{
		text-decoration: none;
	}
}
/************************************************************************/
/******************* Imports ********************************************/
/************************************************************************/
@import 'https://fonts.googleapis.com/css?family=Cutive+Mono|Playfair+Display';
/*
font-family: 'Cutive Mono', monospace;
font-family: 'Playfair Display', serif;
*/

/************************************************************************/
/******************* Main LESS  ******************************************/
/************************************************************************/
@dark-red:   #bd0000;
@light-red:  #f88379;
@whiteish:   #ffffff;
@blackish:   #444;
@section-padding: 5px 5px 5px 10px;

@number-nav-items: 4; 
@nav-item-width: 100%/@number-nav-items; 


.section-header{
   		font-family: 'Playfair Display', serif;
	background-color: @light-red;
	color: @whiteish;
	padding: @section-padding;
	margin-bottom: 2px;
}

//Define general coloring for content
.section-content{
	ul{
		list-style:none;
		padding-left: 0px;
	}
	li, p{
		background-color: @whiteish;
		color: @blackish;
		padding: @section-padding;
    	margin-bottom: 2px;
		font-family: 'Cutive Mono', monospace;
    }
    li{
    	a{
    		color: @blackish;
    		font-family: 'Cutive Mono', monospace;
    	}
    	&:hover, &:hover a{
    		background-color: @light-red;
    		color: @whiteish;	
    	}
    }
}

//Remove hover for content without links
#project-page,
#skills-page{
	.section-content{
		li, p{
	    	&:hover, &:hover a{
				background-color: @whiteish;
				color: @blackish;
			}		
		}

	}
}

/************************************************************************/
/******************* helper Classes *************************************/
/************************************************************************/
.clear-both{
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
/************************************************************************/
/******************* LESS Commom Stuff **********************************/
/************************************************************************/
// Display li items in two columns
.two-col-li{
	ul{
		li{
			width: 49.75%;
			float: left;
		}
		li:nth-child(odd){
			margin-right: 0.5%;
		}
	}
}


/************************************************************************/
/******************* All Pages ******************************************/
/************************************************************************/
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

div.all-pages:nth-child(even){
	background-color:#888;
}
div.all-pages:nth-child(odd){
	background-color:#999;
}
.all-pages{
	min-height: 100vh;
	padding-top: 40vh;
	padding-bottom: 40vh;
}

/************************************************************************/
/******************* Homepage *******************************************/
/************************************************************************/
#home-page{
	background: #999 url("../img/background.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	.row{
		.section-header{
			font-size: 30px;
		}
		.section-content{
			font-size: 20px;
		}
		.content-wrapper{
		}
	}
}
/************************************************************************/
/******************* Filter Page ****************************************/
/************************************************************************/
#filter-page{
	ul{

		li{
			width: 49.75%;
			float: left;
		}
		li:first-child{
			width:100%;
		}
		li:nth-child(even){
			margin-right: .5%;
		}
		li.active{
			background-color: @light-red;
			color: @whiteish;

		}
	}
	.row{
		.content-wrapper{
		}
	}
	.projects-all{
		margin-top: 5vh;
	}
}
.all-projects-container .mix{
  display: none;
}


/************************************************************************/
/******************* Projects *******************************************/
/************************************************************************/
#project-page{
	.two-col-li;
}
/************************************************************************/
/******************* About Page *****************************************/
/************************************************************************/

#about-page{
	#about-photo{
		width: 33%;
		background: #888;
		border-left: 2px solid #888;
		border-bottom: 2px solid #888;
	}
}

/************************************************************************/
/******************* Skills *********************************************/
/************************************************************************/
#skills-page{
	ul{
		li{
			overflow: auto;
			div{
				display:inline-block;
			}
			div:first-child{
				padding: 5px 0px 0px 0px;
			}
			div:last-child{
				float: right;
			}
		}

	}
}

/************************************************************************/
/******************* Form ***********************************************/
/************************************************************************/
#contact-page{
	form{
		input, textarea,label{
			width:100%;
			background-color: @whiteish;
			text-color: @blackish;
			margin-top: 5px;
			border: none;
			padding: @section-padding;
		}
		textarea, input{
			margin-bottom: 10px;
		}
	}
}


/************************************************************************/
/******************* Nav ************************************************/
/************************************************************************/
.fixed-nav{
	display: none;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	ul{
		text-align:center;
		background-color: @whiteish;
		height: 32px;
		width: 50%;
		margin:0px auto;
		border-top: 5px solid @whiteish;

		li:first-child{
			&:hover{
				background: @light-red;
				color: @whiteish;
			}
			color: @whiteish;
			background: @light-red;
		}
	}
	li{
		height: 35px;
		display: inline;
		width: @nav-item-width;
		padding: 10px;
	}

}


/************************************************************************/
/******************* Grid Items******************************************/
/************************************************************************/
* { box-sizing: border-box; }
.grid{
	max-width:1200px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 50%;
  padding: 1%;
}
.grid-item{
	float:left;
}

/*
@base-item-height: 70px;
@additional-item-height: 35px;
.grid-item-height-1{height: @base-item-height;}
.grid-item-height-2{height: @base-item-height + @additional-item-height;}
.grid-item-height-3{height: @base-item-height + @additional-item-height * 2;}
.grid-item-height-4{height: @base-item-height + @additional-item-height * 3;}
.grid-item-height-5{height: @base-item-height + @additional-item-height * 4;}
.grid-item-height-6{height: @base-item-height + @additional-item-height * 5;}
.grid-item-height-7{height: @base-item-height + @additional-item-height * 6;}
.grid-item-height-8{height: @base-item-height + @additional-item-height * 7;}
.grid-item-height-9{height: @base-item-height + @additional-item-height * 8;}
.grid-item-height-10{height: @base-item-height + @additional-item-height * 9;}

*/
